<div id="nav" class="nav">
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container rm">
      <a  class="logo w-nav-brand"><img src="assets/images/Asset-2.png" loading="lazy" alt=""></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a routerLink="/home" routerLinkActive="w--current" class="navlink w-nav-link">Home</a>
        <a routerLink="/products" routerLinkActive="w--current" class="navlink w-nav-link">Products</a>
        <a routerLink="/" class="navlink w-nav-link">Web Series</a>
        <a routerLink="/" class="navlink w-nav-link">Movies</a>
        <a routerLink="/" class="navlink w-nav-link">Music Video’s</a>
        <a routerLink="/" class="navlink w-nav-link">Wishlist</a>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="navlink w-dropdown-toggle">
            <div class="icon-2 w-icon-dropdown-toggle"></div>
            <div>Categories</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <a  class="drop-link w-dropdown-link">Crime</a>
            <a  class="drop-link w-dropdown-link">Documentaries</a>
            <a  class="drop-link w-dropdown-link">Dramas</a>
            <a  class="drop-link w-dropdown-link">Fantasy</a>
            <a  class="drop-link w-dropdown-link">Horror</a>
            <a  class="drop-link w-dropdown-link">Music &amp; Musicals</a>
            <a  class="drop-link w-dropdown-link">Music &amp; Musicals</a>
            <a  class="drop-link w-dropdown-link">Romance</a>
          </nav>
        </div>
      </nav>
      <div class="nav-wrapper">
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form"><input type="text" class="input w-input" maxlength="256" name="name" data-name="Name" placeholder="Search" id="name"><input type="submit" value="" data-wait="" class="submit-button w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div><img src="assets/images/Vector.png" loading="lazy" alt="" class="moon"><img src="assets/images/Group-1000002381.png" loading="lazy" alt="" class="id">
      </div>
    </div>
  </div>
</div>

  
<router-outlet></router-outlet>

<section class="footer-dark wf-section">
  <div class="container ml-0">
    <div class="footer-wrapper">
      <a  class="footer-brand w-inline-block"><img src="assets/images/Frame-1000002234.png" loading="lazy" alt="" class="logo footer">
        <div class="bold-txt">Plickee</div>
      </a>
      <div class="footer-content">
        <div id="w-node-_159e67c3-6333-8390-86fb-d5dbbdaf4f32-4587b192" class="footer-block">
          <a  class="footer-link">About Us</a>
          <a  class="footer-link">Movies</a>
          <a  class="footer-link">TV Shows</a>
          <a  class="footer-link">Corporate Information</a>
        </div>
        <div id="w-node-_159e67c3-6333-8390-86fb-d5dbbdaf4f3b-4587b192" class="footer-block">
          <a  class="footer-link">Privacy Policy</a>
          <a  class="footer-link">Terms &amp; Condition</a>
          <a  class="footer-link">Help</a>
        </div>
        <div id="w-node-_159e67c3-6333-8390-86fb-d5dbbdaf4f46-4587b192" class="footer-block">
          <a  class="footer-link">FAQs</a>
          <a  class="footer-link">Contact Us</a>
          <a  class="footer-link">Legal Notice</a>
        </div>
      </div>
    </div>
  </div>
  <div class="icons-div">
    <div class="spacer"></div>
    <div class="footer-copyright-center">Plickee - 2020 All Rights Reserved</div>
    <div class="images-icon"><img src="assets/images/Facebook---Original.png" loading="lazy" alt="" class="social-icons"><img src="assets/images/Twitter---Original.png" loading="lazy" alt="" class="social-icons"><img src="assets/images/YouTube---Original.png" loading="lazy" alt="" class="social-icons"><img src="assets/images/LinkedIn---Original.png" loading="lazy" alt="" class="social-icons"></div>
  </div><img src="assets/images/Ellipse-1063.png" loading="lazy" srcset="assets/images/Ellipse-1063-p-500.png 500w, images/Ellipse-1063.png 774w" sizes="(max-width: 479px) 100vw, 226px" alt="" class="footer-gradient">
</section>
