
<div class="signup-hero-section wf-section">
    <div class="signup-grid">
       <div id="w-node-_1dffa489-0ffb-0a4d-f604-84daab8e32cd-d63511c3" class="create-div"><img
             src="./../../../../assets/images/Asset-24x-8.png" loading="lazy"
             srcset="./../../../../assets/images/Asset-24x-8.png 500w, ./../../../../assets/images/Asset-24x-8.png 898w"
             sizes="(max-width: 479px) 116.0625px, (max-width: 767px) 24vw, 130px" alt="" class="logo">             
          <div class="w-embed">
             <style>
                .h2 {
                   background: linear-gradient(180deg, #0B9ED3 0%, rgba(232, 232, 232, 0.6) 86.11%);
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;
                   background-clip: text;
                   text-fill-color: transparent;
                   mix-blend-mode: screen;
                   text-shadow: -8px 4px 4px rgba(30, 5, 6, 0.15);
                }
 
                .h2-lg {
                   color: #0B9ED3;
                   mix-blend-mode: screen;
                   text-shadow: -8px 4px 4px rgba(30, 5, 6, 0.15);
                }
 
                .input-text {
                   color: #94A3B8;
                   mix-blend-mode: screen;
                   text-shadow: -8px 4px 4px rgba(30, 5, 6, 0.15);
                }
             </style>
          </div>
          <h1 class="h2">Log In to watch on <br>Plickee</h1>
       </div>
       <div id="w-node-_85320b86-ad80-d49d-0e32-6c1f977948d4-d63511c3" class="form-div">
          <h2 class="h2-lg">Reset Password</h2>
          <div class="input-txt">Confirm your email to receive link</div>
          <div class="form-block-2 w-form">
 
            <form id="email-form" name="email-form" data-name="Email Form" method="get">
                <label for="Email" class="input-text">Email</label>
                <input type="email" class="sign-input emai w-input" maxlength="256" name="Email" data-name="Email" placeholder="Johndoe@gmail.com" id="Email">
                <div class="input-txt right">Email not found</div>
                <div class="button-div top sta">
                <button type="submit" data-wait="Please wait..." class="submit-btn reset w-button" (click)="openVerfication()">Sign in</button></div>
                <label for="email-3" class="input-text already">Back to? <span routerLink="/account" class="input-textBold">Log in</span></label>
              </form>
 
             <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
             </div>
             <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
             </div>
          </div>
       </div>
    </div>
 </div>