
<div class="signup-hero-section wf-section">
    <div class="signup-grid">
       <div id="w-node-_1dffa489-0ffb-0a4d-f604-84daab8e32cd-68aaeaf9" class="create-div"><img
             src="./../../../../assets/images/Asset-24x-8.png" loading="lazy"
             srcset="./../../../../assets/images/Asset-24x-8.png 500w, ./../../../../assets/images/Asset-24x-8.png 898w"
             sizes="(max-width: 479px) 126.6624984741211px, (max-width: 767px) 26vw, (max-width: 991px) 19vw, 150px"
             alt="" class="logo">
          <div class="w-embed">
             <style>
                .h2 {
                   background: linear-gradient(180deg, #0B9ED3 0%, rgba(232, 232, 232, 0.6) 86.11%);
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;
                   background-clip: text;
                   text-fill-color: transparent;
                   mix-blend-mode: screen;
                   text-shadow: -8px 4px 4px rgba(30, 5, 6, 0.15);
                }
 
                .h2-lg {
                   color: #0B9ED3;
                   mix-blend-mode: screen;
                   text-shadow: -8px 4px 4px rgba(30, 5, 6, 0.15);
                }
 
                .input-text {
                   color: #94A3B8;
                   mix-blend-mode: screen;
                   text-shadow: -8px 4px 4px rgba(30, 5, 6, 0.15);
                }
             </style>
          </div>
          <h1 class="h2">Plickee will help you to
            <br>
            recover your password</h1>
       </div>
       <div id="w-node-_85320b86-ad80-d49d-0e32-6c1f977948d4-68aaeaf9" class="form-div">
          <h2 class="h2-lg">Verification</h2>
          <div id="w-node-_1acfff40-71c8-ad47-94c8-a09a097bfb81-68aaeaf9" class="form-block-2 w-form">
           
            <form id="email-form" name="email-form" data-name="Email Form" method="get">
                <label for="Code" class="input-txt">Please enter a code  sent to your email</label>
                <div class="input-box">
                  <div class="text-block-2 rl">Resend Code</div>
                  <input type="text" class="sign-input w-input" maxlength="256" name="Code" data-name="Code" placeholder="Resend Code" id="Code" required="" (keypress)="onlyNums($event)">
                </div><label for="name-2" class="input-txt">Please enter 4 digit code  sent to your mobile number</label>
                <div class="code-div">
                  <div class="get-code"><input class="get-code-input" maxlength="1" (keypress)="onlyNums($event)"></div>
                  <div class="get-code"><input class="get-code-input" maxlength="1" (keypress)="onlyNums($event)"></div>
                  <div class="get-code"><input class="get-code-input" maxlength="1" (keypress)="onlyNums($event)"></div>
                  <div class="get-code"><input class="get-code-input" maxlength="1" (keypress)="onlyNums($event)"></div>
                  <div class="text-block-2">Resend Code</div>
                </div>
                <div class="button-div sta"><input type="submit" value="Verify" data-wait="Please wait..." class="submit-btn w-button"></div><label for="email-3" class="input-text already">Back to? <a routerLink="/account" class="input-textBold">Log in</a></label>
              </form>
    
             <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
             </div>
             <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
             </div>
          </div>
       </div>
    </div>
 </div>