.form-control:focus{
    outline: none;
}
.input-wrapper{
    margin-bottom: 15px;
}
.form-control{
    background: #0F172A;
    border: 1px solid #0F172A;
    border-radius: 5px;
  }
  .pb-0{
    padding-bottom: 0;
  }
  .cleartext{
    clear: both;
  }
  .p-0{
    padding: 0;
  }
  .file-upload-control{
    border: 2px dashed;
    height: 100%;
  }