<div class="container-fluid">
 <div class="position-relative video-container w-100" *ngIf="_video">
    <video #playerVideo >
        <source
            [src]="baseUrl+_video?.video?.filePath"
            >
    </video>
    <div class="hover-links">
        <div *ngFor="let l of filteredLinks">
            <a [href]="l.link">Some click here</a>
        </div>
    </div>
    <div class="position-absolute video-cover w-100" (click)="playPause()"></div>
    <div class="control position-absolute w-100">
        <div class="video-progress">
            <input type="range" class="form-range w-100 bar" min="0" max="100" (mousedown)="onBarMouseDown()" (mouseup)="onBarMouseUp()" (click)="onBarChange($event)" id="customRange1" [value]="(videoPlayer.timer*100)/videoPlayer.totalTime">
            <!-- <div class="bar"  [ngStyle]="{'width':((videoPlayer.timer*100)/videoPlayer.totalTime)+'%'}"></div> -->
        </div>
        <div class="video-controls d-flex justify-content-between">
            <div class="pp-control mt-3 d-flex">
                <div class="play-pause">
                    <i class="bi bi-pause" (click)="pauseClick()" *ngIf="videoPlayer.isPlaying"></i>
                    <i class="bi bi-play" (click)="playClick()" *ngIf="!videoPlayer.isPlaying"></i>
                </div>
                <div class="video-timer">
                    {{videoPlayer.timer | timeFormat}} / {{videoPlayer.totalTime | timeFormat}} 
                </div>
                <div class="volume"></div>
            </div>
            <div class="censor-ship"></div>
            <div class="video-mode">
                <i class="bi bi-fullscreen-exit" *ngIf="videoPlayer.isFullScreen" (click)="requestFullScreen()"></i>  
                <i class="bi bi-fullscreen" *ngIf="!videoPlayer.isFullScreen" (click)="requestFullScreen()"></i>  
            </div>
        </div>
    </div>
 </div>
</div>
