.video-cover {
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.control {
    height: 65px;
    background: #ff030252;
    bottom: 0;
    z-index: 12;
}

.video-progress {
    // position: absolute;
    // width: 100%;
    // height: 10px;
    // background: lightgray;

    .bar {
        width: 50%;
        background-color: green;
        height: 10px;
    }
}

.play-pause,
.video-timer {

    color: white;

    i {
        color: white;
    }
}


.bar {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.bar:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.bar::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}


.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: 0;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.bar::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
.bar::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.video-controls {
    color: white;
}

.hover-links {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
}

.blur{
    filter: blur(20px);
}
