/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.btn{
    border-radius: 4px;
}
.btn-primary{
    background: #0B9ED3;    
}
.btn-default{
    background: #F1F5F9;
}